.card-placeholder {
    flex-basis: 30%;
    min-width: 300px;
}

.placeholder {
    /* height: 200px;
    width: 200px; */
    display: flex;
    flex: center;
    justify-content: center;
    height: 100%;
}
