.card-placeholder {
    flex-basis: 30%;
    min-width: 300px;
}

.placeholder {
    display: flex;
    flex: center;
    justify-content: center;
    height: 100%;
}

.placeholder img {
    width: 150px;
}