.searchBox {
    margin: 0 auto;
    padding: 3%;
    width: 30%;
    min-width: 250px;
}

.searchBox input {
    width: 100%;
    height: 40px;
    border: 1px solid #5c5470;
    border-radius: 20px;
    background-color: #352f44;
    color: #dbd8e3;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

::placeholder {
    color: #5c5470;
    text-transform: none;
}

input:focus::placeholder {
  color: transparent;
}

input:focus{
    outline: none;
}