  
  .card-historyInfo {
    flex-basis: 30%;
    min-width: 320px;
  }

  .HistoryInfo {
    color: #dbd8e3;
  }
  
  .history-header {
    text-align: center;
    margin-bottom: 5px;
    margin: 0 25px;
  }
  
  .history-header #title {
    margin: 10px 0 10px;
    font-size: 19px;
    font-weight: bold;
  }
  
  .history-details {
    margin: 0 0px;
    font-size: 15px;
  }
  
  .history-details-head {
    margin: 5px 0;
    color: #978faa;
  }
  
  .history-details-data {
    margin: 5px 0;
  }
  
  .history-row {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    border-top: 2px solid #352f44;
    border-bottom: 2px solid #352f44;
  }

  .history-row:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}
  
  .history-row:hover {
    background-color: #352f44;
  }
