  
  .card-companyInfo {
    flex-basis: 30%;
    min-width: 300px;
  }

  .CompanyInfo {
    color: #dbd8e3;
    width: 100%;
  }
  
  .company-header {
    text-align: center;
    margin-bottom: 5px;
    margin: 0 25px;
  }
  
  .company-header #ticker {
    margin: 2px 0;
    font-size: 50px;
  }
  
  .company-header #title {
    margin: -10px 0 5px;
    font-size: 19px;
  }
  
  .company-details {
    border-top: 2px solid #352f44;
    border-bottom: 2px solid #352f44;
    margin: 0 0px;
    font-size: 15px;
  }
  
  .company-details-head {
    margin: 5px 0;
    padding-right: 10px;
    color: #978faa;
  }
  
  .company-details-data {
    margin: 5px 0;
    text-align: right;
  }
  
  .description {
    margin: 0 auto;
    padding: 2px 20px;
    color: #a7a0bb;
  }

  .description small {
    margin: 0 auto;
  }
/* 
  .description small {
    margin
  } */
  
  .company-tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tag {
    margin: 5px 10px;
    padding: 3px 15px;
    background-color: #352f44;
    border-radius: 10px;
  }
  
  .tag p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .tag:hover {
    background-color: #5c5470;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 0px 10px;
  }
  
  .row:hover {
    background-color: #352f44;
  }
  
  .row a:visited, a:link {
    color: #dbd8e3;
  }

  /* @media (max-width: 400px) {

    .company-details {
      font-size: 13px;
    }
} */